body{
    background-color: grey;
}

#app-icon{
    background-color: rgb(255, 221, 0);
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    border-radius: 8px;
}

.txt-shadow:hover {
    text-shadow: 0 0 1px whitesmoke;
    transform: scale(1.05);
}

.txt-overflow{
    overflow: scroll;
}

.txt-overflow::-webkit-scrollbar{
    display: none;
}

.txt-shadow:hover {
    text-shadow: 0 0 1px whitesmoke;
    transform: scale(1.05);
}

.search-bar{
    position: relative;
}

.search-results{
    position: absolute;
    margin-top: 5px;
    background-color: white;
    z-index: 1;
    max-height: 60vh;
    overflow: scroll;
    display: none;
}

.search-results::-webkit-scrollbar{
    display: none;
}

.movie-poster{
    width: 50px;
    height: 70px;
}

.search-results-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-results-item:last-of-type{
    border: none;
}

.search-results-item:hover{
    background-color: lightgrey;
}

.search-prediction-details{
    color: black;
    width: 95%;
}

.search-prediction-heart{
    color: black;
    width: 5%;
}

.fav-heart:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 780px) {

    .search-bar-item{
        width: 90% !important;
    }

    .recent-relese{
        width: 100% !important;
    }
}

