body{
    background-color: grey;
}

/* Styling imdb icon */
#app-icon{
    background-color: rgb(255, 221, 0);
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    border-radius: 8px;
}

/* styling for horizontal scroll */
.horizontal-list{
    overflow: scroll;
}

.horizontal-list::-webkit-scrollbar{
    display: none;
}

/* card width for card elements */
.card-width{
    width: 25%;
    overflow: hidden;
}

/* adding overflow scroll and hiding scrollbar */
.txt-overflow{
    overflow: scroll;
}

.txt-overflow::-webkit-scrollbar{
    display: none;
}

/* adding shadow and scale effect for few a tags */
.txt-shadow:hover {
    text-shadow: 0 0 1px whitesmoke;
    transform: scale(1.05);
}

/* Stylings for search results */
.search-bar{
    position: relative;
}

/* search result display div styles */
.search-results{
    position: absolute;
    margin-top: 5px;
    background-color: white;
    z-index: 1;
    max-height: 60vh;
    overflow: scroll;
    display: none;
}

.search-results::-webkit-scrollbar{
    display: none;
}

/* width height for search movie poster */
.movie-poster{
    width: 50px;
    height: 70px;
}

/* aligning all elements within search result */
.search-results-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hover effect for search result item */
.search-results-item:hover{
    background-color: lightgrey;
}


/* movie dtls */
.search-prediction-details{
    color: black;
    width: 95%;
}

/* fav btn */
.search-prediction-heart{
    color: black;
    width: 5%;
}

.fav-heart:hover{
    transform: scale(1.1);
}

/* media queries to adjust some elements according to screen sizes */
@media screen and (max-width: 780px) {
    .card-width{
        width: 35%;
    }

    .search-bar-item{
        width: 90% !important;
    }

    .recent-relese{
        width: 100% !important;
    }
}

